* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    /* font-family: 'roman';
    src: url(fonts/CapitalisTypOasis.ttf) format('truetype'); */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --font_main: 'roman';

    --neon-color: #03e9f4;
    --behind-color: #000000;

    --font_2: 'Open Sans Condensed', sans-serif
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    /* overflow: hidden; */
}
/* bg */
#bg_index {
    width: 100vw;
    height: 1800px;
    transition: 350ms;
    background-color: var(--behind-color);
    /* background-color: #fff; */
    overflow-x: hidden;
    animation: fade 5s ease-in forwards;
    opacity: 1;
    display: block;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.arrow-appear {
    animation: arrow 15000ms ease-out forwards;
    animation-delay: 10000ms;
    transition: 750ms;
    opacity: 0;
}
@keyframes arrow {
    to {
        opacity: 1;
    }
}

.arrow-box {
    width: 80px;
    height: auto;
    opacity: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateX(10%);
    transform: translateY(50%);
    animation: upndown 2000ms ease-in-out forwards infinite;
    animation-play-state: running;
    transition: 750ms;
}
@keyframes upndown {
    0% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(125px);
        opacity: 1
    }
    100% {
        transform: translateY(75px);
        opacity: 0;
    }
}

.arrow-right {
    background-color: var(--neon-color);
    width: 8px;
    height: 50px;
    transform: skew(45deg);
    border-radius: 50px;
    opacity: 0;
    animation: appear 1700ms ease-out forwards;
    animation-delay: 15000ms;
    transition: 750ms;
}

.arrow-left {
    background-color: var(--neon-color);
    width: 8px;
    height: 50px;
    transform: skew(-45deg);
    border-radius: 50px;
    opacity: 0;
    animation: appear 1700ms ease-out forwards;
    animation-delay: 15000ms;
    transition: 750ms;
}


.menu {
    background-color: var(--black);
    display: flex;
    padding: 2rem;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    justify-content: space-around;
    opacity: 0;
    animation: appear 1700ms ease-out forwards;
    animation-delay: 10000ms;
    transition: 750ms;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sub-menu {
    display: flex;
    font-size: 2.5rem;
    list-style: none;
}
.sub-menu > li {
    padding: 2rem;
}
.link {
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--neon-color);
}

/* typing effect */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #1a1a1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;zz
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: hover 5s ease-in-out alternate infinite;
}
@keyframes hover {
    to {
    background: var(--neon-color);
    color: #050801;
    box-shadow: 0 0 5px var(--neon-color),
    0 0 5px var(--neon-color),
    0 0 25px var(--neon-color),
    0 0 200px var(--neon-color);
    }
}

.loader span {
    position: absolute;
    display: block;
}

.loader span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #03e9f49f);
    animation: animate1 2s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100%
    {
        left: 100%;
    }
}

.loader span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #03e9f49f);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.loader span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f49f);
    animation: animate3 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.loader span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f49f);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.loader h3 {
    font-family: consolas;
    font-size: 1.9rem;
    color: #03e9f4;
    overflow: hidden;
    letter-spacing: 2px;
    transition: 0.5s;
    border-right: 1px solid var(--neon-color);
    animation: typing 5s steps(9) infinite;
}

.loader:hover h3 {
    color: #111;
    border-right: 1px solid #111;
}

@keyframes typing {
    0%, 90%, 100% {
        width: 0px;
    }
    30%, 60% {
        width: 125px;
        color: #111;
        border-right: 1px solid #111;
    }
}

#footer {
    width: 50rem;
    height: auto;
    margin: auto;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.slide_footer {
    display: flex;
    width: 100%;
    text-align: center;
}
.text_slide {
    position: absolute;
    width: 50%;
    margin: auto;
}
.slide_footer span {
    color: #ffede1;
    font-size: 4.5rem;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2rem;
    padding-right: 12rem;
    padding-left: 12rem;
    position: relative;
    opacity: 0;
    animation: slider 8s ease-in-out forwards infinite 5s;
    transform: translateX(50rem);
}

@keyframes slider {
    16% {
        transform: translateX(0rem);
        opacity: 1;
    }
    32% {
        transform: translateX(-47rem);
        opacity: 1;
    }
    48% {
        transform: translateX(-89rem);
    }
    64% {
        transform: translateX(-134.5rem);
    }
    80% {
        transform: translateX(-189rem);
    }
    96% {
        transform: translateX(-231.5rem);
        opacity: 1;
    }
    100% {
        transform: translateX(-250rem);
        opacity: 0;
    }
}

/* main content */

.main {
    width: 500px;
    height: 350px;
    padding: 2rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.project-section {
    width: 75vw;
    height: 750px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 10px auto;
    margin-bottom: 100px;
    padding: 1rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.project-header {
    background-color: var(--neon-color);
    width: 400px;
    height: 300px;
    padding: 0.5rem;
    margin: 15px;
}
.project-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    text-align: center;
    font-weight: bold;
    color: var(--behind-color);
    width: 500px;
    height: 250px;
    opacity: 1;
    transition: 350ms;
}
.project {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.exemple-1 img {
    border-radius: 10px;
    transition: 350ms;
    opacity: 0.8;
}
.exemple-1 img:hover {
    transform: scale(1.125);
    opacity: 1;
}

.box-section {
    margin-top: 100px;
    margin-bottom: 150px;

}
#box-1, #box-2, #box-3 {
    background-color: var(--neon-color);
    color: var(--behind-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0;
    padding: 2rem;
    margin-bottom: 75px;
    border-radius: 25px;
    box-shadow: 0 0 5px var(--neon-color),
    0 0 5px var(--neon-color),
    0 0 25px var(--neon-color),
    0 0 200px var(--neon-color);
}

#box-4, #box-5, #box-6 {
    background-color: var(--neon-color);
    color: var(--behind-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0;
    padding: 2rem;
    margin: 15px auto;
    border-radius: 25px;
    box-shadow: 0 0 5px var(--neon-color),
    0 0 1px var(--neon-color),
    0 0 10px var(--neon-color),
    0 0 25px var(--neon-color);
    transition: transform 350ms linear;
}

/* #box-4:hover, #box-5:hover, #box-6:hover {
    box-shadow: 0 0 5px var(--neon-color),
    0 0 5px var(--neon-color),
    0 0 25px var(--neon-color),
    0 0 200px var(--neon-color);
} */
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    /* color: #03e9f4; */
    width: 500px;
    height: 250px;
    opacity: 0;
}
.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
.hide {
    opacity: 0;
    transform: translateX(-100px);
    transition: 350ms;
}
.show {
    opacity: 1;
    transform: translateX(0px);
    transition: 350ms;
}
.hide-left {
    opacity: 0;
    transform: translateX(100px);
    transition: 350ms;
}
.show-left {
    opacity: 1;
    transform: translateX(0px);
    transition: 350ms;
}

/* about section */
.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

    width: 750px;
    height: auto;
    background-color: var(--neon-color);
    margin-top: 150px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 0 0 5px var(--neon-color),
    0 0 1px var(--neon-color),
    0 0 10px var(--neon-color),
    0 0 25px var(--neon-color);
    overflow: hidden;
}

.about-title {
    text-align: left;
}

.about-info {
    text-align: right;
    padding: 1rem;
}

.about-info img {
    text-align: center;
}

.about-img {
    text-align: center;
    justify-content: center;
    place-items: center;
    width: 500px;
    display: flex;
    margin: 10px auto;
    padding-left: 2rem;
    transform: translateX(-600px);
    animation: about 5s ease-in-out forwards infinite;
}

@keyframes about {
    33% {
        transform: translateX(550px);
    }
    66% {
        transform: translateX(0px);
    }
    99% {
        transform: translateX(-600px);
    }
}

/* skils section */
.h-box {
    width: 100%;
    min-width: 280px;
    max-width: 950px;
    min-height: 150px;
    max-height: 500px;
    margin: auto;
    padding: 1.6rem;
    border-radius: 25px;
    animation: info 3s ease forwards;
    /* background-color: blanchedalmond; */
    background: linear-gradient(var(#03e8f457) var(#030303) var(#03e8f43f)) );
    transition: 400ms;
}
.h-hide {
    opacity: 0;
    transform: translateX(-100px);
}
.h-box-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--behind-color);
    position: relative;
    text-align: center;
    transition: 350ms;
    margin-top: 50px;
}
.hab-box {
    text-align: start;
    justify-content: start;
    display: flex;
    position: relative;
    padding: .5rem;
    overflow: hidden;
}
.language {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
}
.percent {
    color: var(--color_a3);
    font-weight: 600;
    font-family: var(--font_2);
    font-size: 2.6rem;
    text-align: center;
    position: absolute;
    right: 0.5rem;
    top: 2rem;
    animation: info 5s ease-in-out forwards;
}
#css {
    width: 85%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 3000ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#html {
    width: 75%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 3500ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#js {
    width: 50%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 4000ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#python {
    width: 40%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 4500ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#bartending {
    width: 95%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 5000ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#skt {
    width: 100%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 5500ms preencher ease-in-out forwards;
    border-radius: 50px;
}
#coffee {
    width: 150%;
    padding: 10px;
    transform: translateX(-500px);
    animation: 6000ms preencher ease-in-out forwards;
    border-radius: 50px;
}

@keyframes preencher {
    from {
    opacity: 0;
    transform: translateX(-100px);
    }
    to {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.384);
    transform: translateX(0);
    }
}

/* responsive mode */



@media screen and (max-width: 769px) {
    .project-section {
        height: auto;
    }
    .about {
        width: 100%;
        height: auto;
    }    
}


@media screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .arrow-box {
        width: 100px;
        height: 50px;
        position: relative;
        left: 10%;
        top: 70%;
        transform: translateX(-10%);
        z-index: 10000;
    }
    .box-section {
        width: 75%;
        margin: auto;
    }
    .project-header {
        width: 85%;
        position: relative;
        margin: auto;
    }

    /* about section */
    .about {
        width: 85%;
        height: auto;
    }
    .about-title {
        width: 75%;
        margin: auto;
    }

}

@media screen and (max-width: 380px) {
    html {
        font-size: 50%;
    }
    /* box section */
    #box-1, #box-2, #box-3 {
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
    /* project session */
    .project-section {
    width: 70%;
    /* margin: auto; */
    height: auto;
    left: 50%;
    transform: translateX(-50%);    
    }
    #box-4, #box-5, #box-6 {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 10px auto;
    }
    /* about section */
    .about {
        width: 70%;
        height: auto;
    }
}
