:root {
    --black: #0000000c;
    --grey: #d8d8d8;
    --violet: #5603ad;
    --orange: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;
    --blue: #1a8fe3;

    --hardblue: #288cfa;
    --lightblue: #7ebcf9;
    --darkblue: #103766;
    --lightgrey: #bdc4d0;

}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--lightblue);
    height: auto;
    font-family: arial;
    overflow-x: hidden;
}

.update {
    font-size: .8rem;
    text-align: center;
    color: var(--violet);
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.main {
    text-align: center;
    max-width: 1500px;
    /* background-color: var(--lightblue); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .2rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

aside {
    background-color: var(--blue);
    padding: .2rem;
    margin: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.day,
.week,
.month {
    text-align: center;
}

.week {
    align-self: center;
    /*alinha ao centro da grid horizontalmente*/
}

.title {
    color: var(--grey);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.day_box {
    /* background-color: var(--green); */
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(1fr 1fr);
    text-align: center;
    border-radius: 1rem;
    margin: .5rem;
    padding: .5rem;
}

.days {
    background-color: var(--lightgrey);
    display: flex;
    justify-content: space-between;
    place-items: center;
    /*alinhando ao centro*/
    margin: .5rem;
    padding: .5rem;
    font-family: arial;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: var(--darkblue);
    position: relative;
    border-radius: 1rem;
}

/* PARA BARRA FIGURAR FATURAMENTO, DIVIDIR VALOR POR 2 */
/* day box */
.bar_mon,
.bar_tue,
.bar_wed,
.bar_thu,
.bar_fri,
.bar_sat {
    background-color: var(--violet);
    height: 25%;
    position: absolute;
    left: 6rem;
}
.bar_week {
    background-color: var(--green);
    height: 25%;
    position: absolute;
    left: 6.3rem;
    border: solid .1rem var(--blue);
}
.week_1 {
    width: 13.91%;
}
.week_2 {
    width: 27.78%;
}
.week_3 {
    width: 10.74%;
}
/* .week_4 {
    width: 25.78%;
} */

/* month box */
.month {
    display: grid;
    grid-column: 1 / -1;
    margin: .8rem;
    height: fit-content;
}
.month_box {
    font-size: 1rem;
    padding: .2rem;
    margin: .2rem;
}
.may,
.jun {
    height: 25%;
}
.bar_may,
.bar_jun {
    background-color: var(--green);
    position: absolute;
    left: 10.5rem;
    display: flex;
    height: 25%;
    border: solid .1rem var(--blue);
}
.may {
    width: 9.75%;
}
.jun {
    width: 5.24%;
}
@media (max-width: 750px) {
    html {
        font-size: 95%;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: .1rem;
        margin: .1rem;
    }
    aside {
        margin: .3rem;
        padding: .2rem;
    }
    .bar_may, .bar_jun {
        display: none;
    }
}
@media (max-width: 350px) {
    html {
        font-size: 75%;
    }
}